{% schema %}
{
  "name": "Main Product Sale",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "label": "Social Links",
      "id": "social_sharing_title"
    },
    {
      "type": "url",
      "label": "Link Facebook",
      "id": "facebook_share_link"
    },
    {
      "type": "url",
      "label": "Link Twitter",
      "id": "twitter_share_link"
    },
    {
      "type": "url",
      "label": "Link Pinterest",
      "id": "pinterest_share_link"
    },
    {
      "type": "text",
      "label": "Title Upsell",
      "id": "title_upsell"
    }
  ]
}
{% endschema %}

<!-- librerías de Slider -->
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.0.4/dist/js/splide.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.0.4/dist/css/splide.min.css">

<style>
  .product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1180px;
    margin: 0 auto;
    padding: 24px 15px;
  }

  .product-images {
    width: 52%;
  }
  .product-info {
    width: 40%; /
  }

  .thumbnails {
    display: flex;
    margin-top: 20px;
  }

  @media (max-width: 768px) {

    .product-images,
    .product-info {
      width: 100%;
    }

    .splide__slide img {
      height: 600px !important;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }

    .thumbnails {
      display: flex;
      margin-top: 20px;
      max-width: fit-content;
      overflow: scroll;
    }

    .title-tag {
      font-size: 46px;
      line-height: 99% !important;
      padding: 0;
      margin: 0;
    }
  }

  .thumbnail {
    width: 104px;
    height: 104px;
    margin-right: 20px;
    cursor: pointer;
    object-fit: none;
    border-radius: 4px;
    border: 1px solid transparent;
    min-width: 104px;
  }
  .thumbnail.selected {
    border: 1px solid var(--primary, #17696a);
  }
  .bsvg {
    border: 1px solid #d7dadd;
    border-radius: 50%;
  }

  .bsvg.selected {
    border: 1px solid var(--primary, #17696a);
  }

  .splide__slide img {
    height: 585px !important;
    object-fit: cover;
    width: 100%;
    object-position: center;
    border-radius: 5px;
  }

  .splide__slide {
    height: 585px !important;
  }

  .btn-tag {
    border-radius: 4px;
    background: var(--primary, #17696a);
    width: 244px;
    padding: 0px 32px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-family: Lato;
    color: white;
    border: 0px solid;
    line-height: 44px;
    margin-top: 20px;
  }

  .title-tag {
    /* h1 */
    font-family: Lato;
    font-size: 46px;
    font-style: normal;
    font-weight: 900;
    line-height: 1;
    padding: 0;
    margin: 0;
  }

  .sharetab {
    display: flex;
    height: 50px;
    margin-top: 0px;
    color: #1e212c;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
  }
  .svgtag {
    height: 24px;
    margin-top: 20px;
    margin-left: 20px;
  }

  .color-button {
    width: 24px !important;
    height: 24px !important;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
    border: none;
    padding: 0;
  }

  .sizeselect {
    width: 350px;
    height: 50px;
    display: flex;
    padding: 11px 16px 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 221px;
    border-radius: 4px;
    border: 1px solid var(--gray-400, #d7dadd);
    background: var(--white, #fff);
    color: #9a9ca5;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  .splide__arrow {
    width: 48px;
    height: 48px;
    background: #fff;
  }

  .titlevar {
    color: #424551;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
  .splide__arrow--next {
    right: 0.7em;
    font-size: 50px;
    padding-top: 15px;
    padding-left: 12px;
    width: 48px;
    height: 48px;
  }
  .splide__arrow--prev {
    left: 2em;
  }

  .splide__arrow--prev svg {
    transform: scaleX(-1);
    left: 0.7em;
    font-size: 50px;
    padding-top: 15px;
    padding-left: 15px;
    width: 48px;
    height: 48px;
  }

  .splide__arrow svg {
    fill: #222;
  }

  .selectedvar {
    display: flex;
    margin-top: 30px;
    color: #424551;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 14px;
  }

  .textoffer {
    background: #ff4242;
    color: black;
    font-weight: 900;
    text-align: center;
    font-size: 24px;
    border-radius: 5px 5px 0px 0px;
    margin-bottom: -10px;
    z-index: 99999;
    position: relative;
  }

  /*  para el modal y su contenido */
  .modal {
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
  }

  .modal-content {
    position: relative;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    max-width: 700px;
    color: #fff;
  }

  .close {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
  }

  .svgvideo {
    cursor: pointer;
    background: rgba(30, 33, 44, 0.6);
    width: 104px;
    height: 104px;
    padding: 40px;
    margin-left: -125px;
  }

    .color-button {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin: 5px;
      cursor: pointer;
      border: none;
    }
</style>

<div class="product-container">
  <div
    id="main"
    style="
      border-bottom: 1px solid #ddd;
      width: 100%;
      padding-bottom: 20px;
    "
  >
    <h1 class="title-tag" id="product_title">{{ product.title }}</h1>
  </div>
</div>

<!-- Contenedor principal con dos columnas -->
<div class="product-container">
  <!-- Columna de Imágenes y Miniaturas -->
  <div class="product-images">
    <div>
      {% if product.metafields.custom.text_offer %}
        <div class="textoffer">{{ product.metafields.custom.text_offer }}</div>
      {% endif %}
    </div>

    <div class="splide">
      <div class="splide__track">
        <ul class="splide__list">
          {% for image in product.images %}
            <li class="splide__slide">
              <img src="{{ image.src | img_url: 'master' }}" alt="{{ product.title }} - Imagen {{ forloop.index }}">
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <!-- Miniaturas de Imágenes -->
    <div class="thumbnails">
      {% for image in product.images %}
        <img
          class="thumbnail{% if forloop.first %} selected{% endif %}"
          src="{{ image.src | img_url: '104x' }}"
          alt="{{ product.title }} - Thumbnail {{ forloop.index }}"
          onclick="changeImage({{ forloop.index }})"
        >
      {% endfor %}

      <div>
        {% if product.metafields.custom.youtube_id %}
          <!-- SVG button to open the modal -->
          <svg
            class="svgvideo"
            id="myVideoButton"
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            viewBox="0 0 32 32"
            fill="none"
          >
            <path fill-rule="evenodd" clip-rule="evenodd" d="M21.4237 13.8813C22.8201 14.9486 22.8201 17.0514 21.4237 18.1187L15.3171 22.786C13.5623 24.1272 11.0311 22.8759 11.0311 20.6673V11.3328C11.0311 9.12415 13.5623 7.8729 15.3171 9.21408L21.4237 13.8813ZM19.8043 16L13.6978 11.3328L13.6978 20.6673L19.8043 16Z" fill="white"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M15.9999 3.99998C9.37253 3.99998 3.99995 9.37256 3.99995 16C3.99995 22.6274 9.37253 28 15.9999 28C22.6274 28 27.9999 22.6274 27.9999 16C27.9999 9.37256 22.6274 3.99998 15.9999 3.99998ZM1.33328 16C1.33328 7.8998 7.89977 1.33331 15.9999 1.33331C24.1001 1.33331 30.6666 7.8998 30.6666 16C30.6666 24.1002 24.1001 30.6666 15.9999 30.6666C7.89977 30.6666 1.33328 24.1002 1.33328 16Z" fill="white"/>
          </svg>
        {% endif %}
      </div>
    </div>
  </div>

  <!-- Columna de Información del Producto -->
  <div class="product-info">
    <!-- Precio del Producto -->
    <p style="margin: 0;">
      {% if product.compare_at_price_max > product.price -%}
        <span style="font-weight: bold; color: #FF4242;font-size: 28px;">
          {{- product.price | money -}}
        </span>
        <span style="text-decoration: line-through; color: #999;font-size: 18px; ">
          {{- product.compare_at_price_max | money -}}
        </span>
      {% else -%}
        {{- product.price | money }}
      {% endif -%}
    </p>

    <!-- Select para el color -->
    <label for="color-select" class="titlevar">Color:</label>
    <div style="display: flex;text-transform: capitalize;">
      <div id="color-buttons" class="color-buttons">
        {% assign unique_colors = product.variants | map: 'option1' | uniq %}
        {% for color in unique_colors %}
          <button
            class="color-button"
            data-color="{{ color }}"
            style="
              {% if color == 'pink' %}
                background: #E0AEA2;
              {% elsif color == 'blue' %}
                background: #C0DDED;
              {% elsif color == 'yellow' %}
                background: #FEDE41;
              {% else %}
                background: {{ color }};
              {% endif %}
            "
          >
            <svg
              class="bsvg"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <circle cx="12" cy="12" r="11" fill="transparent" stroke="white" stroke-width="2"/>
            </svg>
          </button>
        {% endfor %}
      </div>
      <div class="selected-color-name" style="margin-left: 15px; margin-top: 5px;"></div>
    </div>

    <select id="color-select" name="color" style="display:none">
      {% for color in unique_colors %}
        <option value="{{ color }}">{{ color }}</option>
      {% endfor %}
    </select>

    <!-- Select para el tamaño -->
    <label for="size-select" class="titlevar">Size:</label>
    <select id="size-select" class="sizeselect" name="size" required>
      <option value="" disabled selected>Please select</option>

      {% assign unique_sizes = product.variants | map: 'option2' | uniq %}
      {% for size in unique_sizes %}
        <option value="{{ size }}">{{ size }}</option>
      {% endfor %}
    </select>

    <!-- Select para la combinación de color y tamaño -->
    <select style="display:none" id="color-size-select" name="color-size"></select>

    <script>
      document.addEventListener('DOMContentLoaded', function () {
        var variantsArray = [];
    
        {% for variant in product.variants %}
          var size = "{{ variant.option2 }}";
          var color = "{{ variant.option1 }}";
          var value = "{{ variant.id }}";
    
          // Create a variant object
          var variantObject = {
            size: size,
            color: color,
            value: value
          };
    
        variantsArray.push(variantObject);
        {% endfor %}
    
        var colorSelect = document.getElementById('color-select');
        var sizeSelect = document.getElementById('size-select');
        var colorSizeSelect = document.getElementById('color-size-select');
    
        var opcionesCombinacion = variantsArray;
        console.log(variantsArray);
    
        console.log(opcionesCombinacion);
    
        function actualizarOpcionesColorSize() {
          colorSizeSelect.innerHTML = '';
    
          var colorSeleccionado = colorSelect.value;
          var sizeSeleccionado = sizeSelect.value;
    
          // Utiliza la función find para buscar la combinación correcta
          var opcionSeleccionada = opcionesCombinacion.find(
            (opcion) => opcion.size === sizeSeleccionado && opcion.color === colorSeleccionado
          );
    
          var valueCombinacion = opcionSeleccionada ? opcionSeleccionada.value : '{{ product.variants.first.id }}';
    
          if (opcionSeleccionada) {
            var optionElement = document.createElement('option');
            optionElement.value = valueCombinacion;
            optionElement.text = `${colorSeleccionado} - ${sizeSeleccionado}`;
            colorSizeSelect.add(optionElement);
    
            // Imprime el valor en la consola
            console.log("Esta es " + valueCombinacion);
          }
    
          // Actualiza el valor del campo de entrada oculto
          document.querySelector('[name="id"]').value = valueCombinacion;
        }
    
        colorSelect.addEventListener('change', actualizarOpcionesColorSize);
        sizeSelect.addEventListener('change', actualizarOpcionesColorSize);
    
        // Utiliza el evento 'change' para el color-size-select
        colorSizeSelect.addEventListener('change', function () {
          // Imprime el valor seleccionado en la consola
          console.log(colorSizeSelect.value);
        });
    
        // Llama a la función para inicializar las opciones
        actualizarOpcionesColorSize();
      });
    </script>

    <!-- Display Selected Size -->

    <div class="selectedvar">
      <div
        id="selected-color"
        style="        display: flex;"
      >
        Color:
        <div
          class="selected-color-name"
          style="
            color:#424551;
            font-family: Lato;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%;
            text-transform: capitalize;
          "
        ></div>
      </div>
      <div id="selected-size">
        <div id="selected-size"></div>

        <script>
          const sizeSelect = document.getElementById('size-select');
          const selectedSizeDiv = document.getElementById('selected-size');

          sizeSelect.addEventListener('change', () => {
            const selectedSize = sizeSelect.value;
            updateSelectedSize(selectedSize);
          });
          function updateSelectedSize(size) {
            selectedSizeDiv.innerHTML = `, Size: <strong>${size}</strong>`;
          }
        </script>
      </div>
    </div>

    <!-- Links para Compartir en Redes Sociales -->
    <div class="sharetab">
      <p>{{ section.settings.social_sharing_title }}:</p>
      <a
        class="svgtag"
        href="{{ section.settings.facebook_share_link }}"
        target="_blank"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 20 20"
          fill="none"
        >
          <path d="M14.6357 0.837143L12.3214 0.833328C9.72122 0.833328 8.0409 2.60424 8.0409 5.34519V7.42545H5.71389C5.51281 7.42545 5.34998 7.59291 5.34998 7.79947V10.8135C5.34998 11.0201 5.51299 11.1874 5.71389 11.1874H8.0409V18.7928C8.0409 18.9994 8.20373 19.1667 8.40482 19.1667H11.4409C11.642 19.1667 11.8048 18.9992 11.8048 18.7928V11.1874H14.5256C14.7267 11.1874 14.8896 11.0201 14.8896 10.8135L14.8907 7.79947C14.8907 7.70029 14.8522 7.60531 14.7841 7.53512C14.716 7.46493 14.6231 7.42545 14.5266 7.42545H11.8048V5.66198C11.8048 4.81439 12.0014 4.38411 13.0763 4.38411L14.6354 4.38354C14.8363 4.38354 14.9991 4.21608 14.9991 4.00971V1.21097C14.9991 1.00479 14.8365 0.837524 14.6357 0.837143Z" fill="#787A80"/>
        </svg>
      </a>

      <a class="svgtag" href="{{ section.settings.twitter_share_link }}" target="_blank">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 20 20"
          fill="none"
        >
          <path d="M18.75 4.81041C18.1059 5.08369 17.4148 5.26902 16.6887 5.35176C17.4301 4.92663 17.9976 4.25232 18.2666 3.45129C17.5711 3.84499 16.8035 4.13086 15.9855 4.28583C15.3305 3.61675 14.3988 3.2 13.3653 3.2C11.3827 3.2 9.77523 4.73922 9.77523 6.63654C9.77523 6.90563 9.80694 7.16845 9.86819 7.41977C6.88501 7.2763 4.23973 5.90777 2.46928 3.82823C2.1598 4.33503 1.98374 4.92557 1.98374 5.55593C1.98374 6.74858 2.618 7.8009 3.58033 8.41657C2.992 8.39773 2.43866 8.24276 1.95423 7.98517V8.0281C1.95423 9.69297 3.19213 11.0824 4.83353 11.3987C4.5328 11.4762 4.21568 11.5191 3.88761 11.5191C3.6558 11.5191 3.43161 11.4971 3.2118 11.4552C3.66889 12.8217 4.99429 13.8154 6.56463 13.8426C5.33657 14.764 3.7881 15.3117 2.10624 15.3117C1.81646 15.3117 1.53103 15.2949 1.25 15.2645C2.83893 16.2415 4.7253 16.8111 6.75273 16.8111C13.3566 16.8111 16.9665 11.5736 16.9665 7.03131L16.9544 6.5863C17.6597 6.1046 18.2699 5.4994 18.75 4.81041Z" fill="#787A80"/>
        </svg>
      </a>

      <a
        class="svgtag"
        href="{{ section.settings.pinterest_share_link }}"
        target="_blank"
      >
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
          <path d="M10.2512 0.833328C5.19014 0.834092 2.5 4.05393 2.5 7.56481C2.5 9.19268 3.4162 11.2239 4.8832 11.8679C5.30168 12.055 5.24629 11.8266 5.60631 10.4592C5.63478 10.3454 5.62016 10.2469 5.52785 10.1407C3.43082 7.73211 5.1186 2.78051 9.95192 2.78051C16.9469 2.78051 15.6399 12.3919 11.1689 12.3919C10.0165 12.3919 9.15803 11.4935 9.42959 10.3821C9.75883 9.05824 10.4035 7.63509 10.4035 6.68098C10.4035 4.27622 6.7956 4.63297 6.7956 7.81919C6.7956 8.80386 7.14639 9.46845 7.14639 9.46845C7.14639 9.46845 5.98556 14.1252 5.77017 14.9953C5.40553 16.4681 5.8194 18.8522 5.85556 19.0577C5.87787 19.1707 6.00556 19.2066 6.07711 19.1134C6.19173 18.9645 7.59488 16.9768 7.98797 15.5399C8.13106 15.0167 8.71801 12.893 8.71801 12.893C9.10495 13.5866 10.2204 14.1672 11.4089 14.1672C14.9445 14.1672 17.5 11.081 17.5 7.25161C17.4877 3.58031 14.3237 0.833328 10.2512 0.833328V0.833328Z" fill="#787A80"/>
        </svg>
      </a>
    </div>
    <form method="post" action="/cart/add" name="product-form">
      <input type="hidden" name="id" value="{{ valueCombinacion | default: product.variants.first }}">
      <input min="1" type="hidden" id="quantity" name="quantity" value="1">

      <button type="submit" id="submit-btn" class="btn-tag">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M2.5944 2.00535C2.52929 2.00045 2.43894 2.00001 2.2695 2.00001H1.16667C0.798477 2.00001 0.5 1.70153 0.5 1.33334C0.5 0.965152 0.798477 0.666675 1.16667 0.666675H2.2695C2.27578 0.666675 2.28207 0.666674 2.28835 0.666673C2.43146 0.666656 2.57315 0.666638 2.69458 0.675788C2.82971 0.685969 2.9867 0.709883 3.14911 0.782329C3.37767 0.884286 3.57293 1.04851 3.71254 1.25623C3.81174 1.40383 3.8622 1.5544 3.89538 1.68578C3.9252 1.80385 3.94946 1.94345 3.97397 2.08444C3.97504 2.09063 3.97612 2.09682 3.9772 2.10302L4.13605 3.0164L12.812 3.27322C13.152 3.28327 13.4458 3.29196 13.6878 3.3186C13.9436 3.34677 14.1971 3.39974 14.4404 3.52932C14.809 3.72568 15.1068 4.0325 15.2922 4.40672C15.4145 4.65369 15.46 4.90871 15.4805 5.16519C15.5 5.40784 15.5 5.70178 15.5 6.04191V6.09108C15.5 6.41072 15.5 6.688 15.4821 6.91793C15.4631 7.16177 15.4213 7.40396 15.3095 7.64127C15.1395 8.00248 14.8653 8.30453 14.5221 8.50856C14.2967 8.6426 14.0597 8.70762 13.8188 8.75C13.5917 8.78997 13.3157 8.81667 12.9975 8.84745L6.50826 9.47544C6.18213 9.50701 5.89956 9.53437 5.66381 9.53852C5.41403 9.54291 5.1636 9.52351 4.91219 9.43115C4.53514 9.29264 4.20854 9.04381 3.97491 8.71705C3.81913 8.49917 3.73395 8.26288 3.67188 8.02089C3.6133 7.7925 3.56467 7.51281 3.50854 7.19001L2.66358 2.33147C2.63455 2.16453 2.61864 2.07559 2.60265 2.01229C2.60208 2.01004 2.60153 2.0079 2.601 2.00588C2.59891 2.0057 2.59672 2.00553 2.5944 2.00535ZM4.36923 4.35722L4.81796 6.9374C4.8795 7.29124 4.9195 7.51843 4.96341 7.68963C5.00529 7.85292 5.03842 7.91204 5.05953 7.94156C5.1374 8.05048 5.24627 8.13342 5.37195 8.17959C5.40602 8.19211 5.47181 8.20835 5.64036 8.20539C5.81708 8.20228 6.04674 8.18054 6.40421 8.14595L12.8451 7.52264C13.1941 7.48887 13.4178 7.46674 13.5877 7.43685C13.7495 7.40837 13.8099 7.38082 13.8407 7.3625C13.9551 7.2945 14.0465 7.19381 14.1032 7.07341C14.1184 7.04098 14.1401 6.97821 14.1528 6.81442C14.1662 6.64247 14.1667 6.41759 14.1667 6.06701C14.1667 5.69468 14.1662 5.45477 14.1515 5.27188C14.1374 5.09688 14.1136 5.03127 14.0974 4.99855C14.0356 4.8738 13.9363 4.77153 13.8135 4.70608C13.7812 4.68891 13.7164 4.66314 13.5418 4.64392C13.3595 4.62384 13.1197 4.61624 12.7475 4.60522L4.36923 4.35722Z" fill="white"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M6.16667 11.6667C5.79848 11.6667 5.5 11.9651 5.5 12.3333C5.5 12.7015 5.79848 13 6.16667 13C6.53486 13 6.83333 12.7015 6.83333 12.3333C6.83333 11.9651 6.53486 11.6667 6.16667 11.6667ZM4.16667 12.3333C4.16667 11.2288 5.0621 10.3333 6.16667 10.3333C7.27124 10.3333 8.16667 11.2288 8.16667 12.3333C8.16667 13.4379 7.27124 14.3333 6.16667 14.3333C5.0621 14.3333 4.16667 13.4379 4.16667 12.3333Z" fill="white"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M12.5 11.6667C12.1318 11.6667 11.8333 11.9651 11.8333 12.3333C11.8333 12.7015 12.1318 13 12.5 13C12.8682 13 13.1667 12.7015 13.1667 12.3333C13.1667 11.9651 12.8682 11.6667 12.5 11.6667ZM10.5 12.3333C10.5 11.2288 11.3954 10.3333 12.5 10.3333C13.6046 10.3333 14.5 11.2288 14.5 12.3333C14.5 13.4379 13.6046 14.3333 12.5 14.3333C11.3954 14.3333 10.5 13.4379 10.5 12.3333Z" fill="white"/>
        </svg>
        Add to Cart
      </button>
    </form>
  </div>
</div>

<!-- Modal para el video de YouTube -->
<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <!-- video de YouTube -->
    <iframe
      id="youtubeVideo"
      width="560"
      height="315"
      src="https://www.youtube.com/embed/{{product.metafields.custom.youtube_id}}?enablejsapi=1"
      frameborder="0"
      allowfullscreen
    ></iframe>
  </div>
</div>
